@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;800;900&display=swap);

:root {
    --main-color: rgba(43, 43, 43, 0.731);
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: #000;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    /* position: relative; */
}

#burger {
    background: var(--main-color);
    width: 50px;
    height: 50px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 24px;
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    z-index: 10;
    
}

#close {
    display: none;
}

.countdown {
    width: 100%;
    height: fit-content;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    font-size: 30px;
    flex-wrap: wrap;
    margin-inline: auto;
    /* border: 1px solid red; */
    cursor: default;
}

.countdown>div {
    background: var(--main-color);
    min-height: 250px;
    display: flex;
    aspect-ratio: 1;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    font-weight: 600;
    font-size: 144px;
    position: relative;
}

.countdown .sec {
    position: absolute;
    font-size: 16px;
    right: 12.5px;
    bottom: 12.5px;
}

#options {
    padding: 10px;
    padding-top: 50px;
    width: 0;
    /* mana shu yerni uzgartir*/
    height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
    background: black;
    overflow: hidden;
    overflow-y: auto;
    z-index: 9;
    transition: .2s;
    color: white;
}
#options h1{display: inline;}


#options .bg-image{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#options .bg-image .images {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}


#options .bg-image .images img {
    width: 200px;
    aspect-ratio: 16 / 10;
    border: 2px solid var(--main-color);
    cursor: pointer;
    border-radius: 10px;
    padding: 5px;
}

#options .bg-image #form {
    width: auto;
    aspect-ratio: 20 / 1;

}
#options .bg-image #form #ownImage{
    max-width: 600px;
    height: 50px;
    padding: 10px;
    background: transparent;
    color: white;
    outline: none;
    border: 1px solid var(--main-color);
}



#options .bg-image #form  button{
    width: 50px;
    background: var(--main-color);
    border: none;
    color: white;
    width: 100px;
    height: 50px;
    cursor: pointer;
}
#options .bg-image #form  button:hover{
    opacity: .9;
}
#options .bg-image #form  button:active{
    opacity: 1;
}

#option .color{
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 20px;
}

#option .color input{
    outline: none;
    border: none;
}